.gradient-color {
    background: #787779;
    background: -moz-linear-gradient(135deg, #787779);
    background: -webkit-linear-gradient(135deg, #EF7F1A, #FFD423 );
    background: linear-gradient(135deg,#787779);
}
.reflection-text:not(.reflection-text-white)::after {
    background: url(../../images/line-break/line-break-7.svg) no-repeat;
}

